 html,
 body {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
 }

 #app {
   width: 100%;
   height: 100%;
   overflow: hidden;
   background: url('./assets/image/small-bg.png') no-repeat 100% 100%;
 }

 .flex_all_center{
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .system_globalColor{
  color: #ffffff;
 }
 .border_line{
  border: 1px solid #afafaf;
}